# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [ --fix=lf ]
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
  -   repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
       - id: pyupgrade
         args: [ --py37-plus ]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-builtins
          - flake8-copyright
          - flake8-docstrings
          - flake8-picky-parentheses
          - flake8-quotes
          - pep8-naming
  - repo: local
    hooks:
      - id: flake8-dogfood
        name: flake8 dogfood check
        entry: flake8
        args: [ --select=PAR, src, tests ]
        language: system
        pass_filenames: false
        require_serial: true
      - id: mypy
        name: mypy static type check
        entry: mypy
        args: [ --show-error-codes, src, tests ]
        'types_or': [ python, pyi ]
        language: system
        pass_filenames: false
        require_serial: true
