name: main

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: pip install --user -Ur requirements.txt
      - name: Run pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files
  tests:
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]
        include:
          - {python: "3.7", os: "ubuntu-22.04"}

    runs-on: ${{ matrix.os }}
    name: tests (Python ${{ matrix.python }})
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install --user tox
      - name: Run tox
        run: tox -e py
